<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>

<%- include ./app/templates/components/header %>

<%- include ./app/templates/contents/index %>

<%- include ./app/templates/components/footer %>

<script src="./javascripts/vendor.js"></script>
<script src="./javascripts/index.js"></script>
</body>
</html>